body {
    margin: 0;
    padding: 0;
    display: flex; /* 使用 flexbox 佈局 */
    justify-content: center; /* 在水平方向置中 */
    align-items: center; /* 在垂直方向置中 */
    min-height: 100vh; /* 設定 body 最小高度為整個視窗高度，確保內容垂直置中 */
    background-color: rgb(232, 232, 232);
    text-align: center;
  }
  
  #container {
    display: flex;
    flex-direction: column; /* 將內容在垂直方向上排列 */
    align-items: center; /* 在水平方向置中 */
  }
  
  #title {
    margin-top: 50px;
    color: black;
    background-color: rgb(240, 240, 240);
    border-color: red;
    border-style: inset;
    font-size: 20px;
    border-width: auto;
    border-radius: 10px; /* 設定圓弧狀邊框，以10px為例，您可以調整此值以控制圓弧的大小 */
    padding: 20px;
  }
  
  #slogan {
    border-style: solid;
    border-color: rgb(92, 88, 88);
    font-size: 15px;
    margin-top: 30px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px; /* 設定圓弧狀邊框，以5px為例，您可以調整此值以控制圓弧的大小 */
  }
  #slogan h3 {
    line-height: 20px; /* 設定行高，使得圖片和文字在同一行中對齊 */
  }
  
  #slogan h3 img {
    vertical-align: middle; /* 調整圖片在行內的垂直對齊方式為居中對齊 */
  }
  
  #buttons-container {
    display: flex; /* 使用 flexbox 佈局 */
    margin-top: 50px;
  }
  
  #log_in, #sign_up {
    margin-right: 20px; /* 添加右邊距，設定按鈕之間的間距 */
  }
  
  #log_in button {
    width: 60px;
    height: 50px;
  }
  
  #sign_up button {
    width: 60px;
    height: 50px;
    background-color: black;
    color: white;
  }
  
  #scooter {
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 250px;
  }
