.pic {
    max-width: 90%;
    margin: 10vh 0 5vh 0;
}

.pic svg {
    display: block;
    width: 100%;
    height: auto;
}

.button {
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 100px;
    font-size: 15px;
    margin: 18px 0;
}
.button:hover {
    background-color: #fff;
    color: #1a1a1a;
}
.btn-group {
    display: flex;
    padding: 2%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
