body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-al {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid.container-al {
    height: calc(100% - 60px);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
}

#greyDiv {
    background-color: grey;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blackDiv {
    width: 100%;
    height: 65%;
    background: black;
    padding: 5% 10% 0%;
}

.icon-button {
    position: relative;
    width: 50px;
    height: 50px;
    /* background-color: white; */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

.icon-button i {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-label {
    text-align: center;
    position: absolute;
    bottom: -20px;
    width: 120%;
}

.text {
    font-size: 14px;
    color: white;
}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.message {
    height: 15%;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    padding: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .message {
        height: 10%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 767px) {
    .message {
        height: 15%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
    }
}

@media screen and (max-width: 300px) {
    .icon-button {
        margin: 17px;
    }
}

@media screen and (min-width: 450px) {
    .icon-row {
        flex-wrap: nowrap;
    }

    .icon-button {
        width: 70px;
        height: 70px;
        margin: 17px;
    }

    .icon-button i {
        font-size: 30px;
    }

    .icon-label {
        font-size: 18px;
    }
}

.person-info {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

.person-info img {
    margin-right: 10px;
}

.person-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.person-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.person-location,
.person-destination {
    margin-top: 5px;
    font-size: 16px;
    color: rgb(234, 229, 229);
}

.person-schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.schedule-time {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .person-info {
        flex-direction: row;
    }

    .person-schedule {
        margin-left: auto;
    }
}
